* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*::before,
*::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*----------------------------------------------------------------*/
body {
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;

}

body._lock {
	overflow: hidden;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.caption-center {
	max-width: 700px;
	margin: 0 auto;
	margin-bottom: 45px;
}

.center-caption__title {
	font-weight: 700;
	font-size: 72px;
	line-height: 84px;
	text-align: center;
	color: #231D70;
	margin-bottom: 13px;
}

.center-caption__title::before {
	content: '';
	display: block;
	margin: 0 auto;
	width: 100px;
	height: 4px;
	background-color: #AB9FF8;

	margin-bottom: 20px;
}

.center-caption__text {
	font-size: 16px;
	line-height: 38px;
	text-align: center;
	color: #595390;

}

.caption-left {}

.left-caption__title {
	font-weight: 700;
	font-size: 72px;
	line-height: 84px;
	color: #231D70;
}

.left-caption__title::before {
	content: '';
	display: block;
	width: 100px;
	height: 4px;
	background-color: #AB9FF8;
	margin-bottom: 30px;
}

.left-caption__text {
	font-size: 16px;
	line-height: 38px;
}

.button_violet {
	display: inline-block;
	font-size: 20px;
	line-height: 22px;
	color: #FFFFFF;
	padding: 35px 57px;
	background: #231D70;
	border: 1px solid #231D70;
	border-radius: 22px;

	opacity: 1;
	transition: all 0.3s ease 0s;
}
.button_white {
	display: inline-block;
	font-size: 20px;
	line-height: 22px;
	color: #231D70;
	padding: 35px 57px;
	background: #fff;
	border: 1px solid #fff;
	border-radius: 22px;
	box-shadow: 0px 4px 14px rgba(56, 57, 84, 0.1);

	opacity: 1;
	transition: all 0.3s ease 0s;
}
.button_violet:hover,
.button_white:hover{
	transform: scale(1.1);
	opacity: 0.8;
}

@media (max-width: 1100px){
	.caption-center {
		max-width: 500px;
		margin: 0 auto;
		margin-bottom: 45px;
	}
	
	.center-caption__title {
		font-size: 50px;
		line-height: 60px;
	}
	
	.center-caption__title::before {
		content: '';
		display: block;
		margin: 0 auto;
		width: 80px;
		height: 4px;
		background-color: #AB9FF8;
	
		margin-bottom: 20px;
	}
	
	.center-caption__text {
		font-size: 16px;
		line-height: 25px;
		text-align: center;
		color: #595390;
	
	}
	
	.caption-left {}
	
	.left-caption__title {
		font-size: 40px;
		line-height: 50px;
	}
	
	.left-caption__title::before {
		content: '';
		display: block;
		width: 80px;
		height: 4px;
		background-color: #AB9FF8;
		margin-bottom: 30px;
	}
	
	.left-caption__text {
		font-size: 16px;
		line-height: 25px;
	}
	
	.button_violet {
		font-size: 18px;
		line-height: 22px;
		padding: 26px 37px;
	}
	.button_white {
		font-size: 18px;
		line-height: 22px;
		padding: 26px 37px;
	}
}
@media (max-width: 650px){
	.caption-center {
		max-width: none;
		width: 90%;
	}
}

.header {
	background-color: transparent;
	margin-bottom: -91px;
}
.header.fixed{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 30;
	border-radius: 0 0 30px 30px;
	box-shadow: 0px 4px 14px rgba(56, 57, 84, 0.1);
}

.header__container {
	padding: 10px 0;
}

.header__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	display: inline-block;
	position: relative;
	z-index: 5;
}

.header__menu {}

.menu {}

.menu__icon {
	display: none;
}

.menu__body {}

.menu__list {}

.menu__list>li {
	position: relative;
	display: flex;
	align-items: center;
	margin: 0px 16px;
}

.menu__link {
	font-size: 18px;
	line-height: 70px;
	color: #231D70;

	transition: all 0.3s ease 0s;
	cursor: pointer;
}

.menu__arrow {
	width: 10px;
	height: 10px;
	border-top: 3px solid #231D70;
	border-right: 3px solid #231D70;
	transform: rotate(135deg);

	margin-left: 10px;
	margin-top: -5px;

	transition: all 0.3s ease 0s;
}

.menu__list>li:hover .menu__link {
	color: #222222;
}

.menu__sub-list {
	position: absolute;
	top: 100%;
}

.menu__sub-title {
	font-size: 18px;
	line-height: 30px;
	color: #231D70;
	font-weight: 700;
}

.menu__sub-link {
	display: block;
	position: relative;
	right: 5px;
	padding: 5px;
	border-radius: 5px;

	font-size: 18px;
	line-height: 30px;
	color: #231D70;
	transition: all 0.3s ease 0s;
}

.menu__sub-link:hover {
	background-color: #FFF9F5;
}

.menu__button {
	padding: 19px 25px;
	font-size: 16px;
	line-height: 18px;
	border-radius: 16px;
}

/* ----------------------------------------------------------------*/
body._pc .menu__list>li:hover .menu__sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0, 0);
	pointer-events: all;
}

body._touch .menu__link {
	flex: 1 1 auto;
}

body._touch .menu__arrow {
	display: block;
	margin-left: 15px;
	transition: transform 0.3s ease 0s;
}

body._touch .menu__list>li._active .menu__sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0, 0);
	pointer-events: all;
}

body._touch .menu__list>li._active .menu__arrow {
	transform: rotate(-45deg);
}

/* ----------------------------------------------------------------*/

@media (min-width: 1024px) {
	.header__menu {
		width: 65%;
	}

	.menu__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.menu__list {
		display: flex;
		align-items: center;
	}

	.menu__sub-list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		align-items: center;

		padding: 20px 30px;
		background: #fff;
		border: 1px solid #fff;
		border-radius: 22px;
		box-shadow: 0px 4px 14px rgba(56, 57, 84, 0.1);

		transform: translate(0px, 10%);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all 0.3s ease 0s;

		margin-left: -300px;
		min-width: 650px;
	}

	.menu__sub-list>li {
		margin: 0 10px;
	}

	.menu__sub-link {
		margin: 5px 0;
	}
	.menu__list>li:hover:nth-child(4) .menu__arrow {
		transform: rotate(-45deg);
		margin-top: 2px;
		border-top: 3px solid #222222;
		border-right: 3px solid #222222;
	}
}

@media (max-width: 1023px) {
	.header.fixed{
		border-radius: 0 0 20px 20px;
	}
	.menu__icon {
		z-index: 20;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		transform: rotate(0deg);
		transition: .5s ease-in-out;
	}

	.menu__icon::before,
	.menu__icon::after {
		display: block;
		left: 0;
		position: absolute;
		height: 20%;
		width: 100%;
		transform: rotate(0deg);
		transition: .25s ease-in-out;
		background-color: #231D70;
		border-radius: 5px;
	}

	.menu__icon::before,
	.menu__icon::after {
		content: '';
	}

	.menu__icon::before {
		top: 0;
	}

	.menu__icon::after {
		bottom: 0;
	}

	.menu__icon._active::before {
		top: 50%;
		transform: rotate(135deg);
	}

	.menu__icon._active::after {
		top: 50%;
		transform: rotate(-135deg);
	}

	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: #fff;
		padding: 130px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto;
	}

	.menu__body._active {
		left: 0;
	}
	.menu__body._active::before{
		content: '';
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 60px;
		border-radius: 0 0 20px 20px;
		box-shadow: 0px 4px 14px rgba(56, 57, 84, 0.1);
		background-color: #fff;
		z-index: 10;
	}
	.menu__body.fixed::before {
		content: '';
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 60px;
		border-radius: 0 0 20px 20px;
		box-shadow: 0px 4px 14px rgba(56, 57, 84, 0.1);
		background-color: #fff;
		z-index: 10;
	}

	.menu__list {
		margin-bottom: 50px;
	}

	.menu__list>li {
		flex-wrap: wrap;
		margin-right: 0;
		margin-bottom: 40px;
	}

	.menu__list>li:last-child {
		margin-bottom: 0;
	}

	.menu__sub-list {
		display: none;
		position: relative;
		background-color: #fff;
		flex: 1 1 100%;
		margin-top: 20px;
	}

	.menu__list>li._active .menu__sub-list {
		display: block;
	}

	.menu__link {
		font-size: 27px;
	}
	.menu__sub-list li{
		margin-bottom: 15px;
	}
	.menu__sub-title{
		font-size: 26px;
		margin-bottom: 15px;
	}
	.menu__sub-link {
		font-size: 25px;
	}
}


.hi {
	background: url(../img/hi/crooked-strip.svg) 0 160px no-repeat, url(../img/hi/cube.svg) 600px 10px no-repeat, url(../img/hi/figure-yellow.svg) -60px 700px no-repeat, url(../img/hi/triangle-yellow.svg) 1000px 300px no-repeat, url(../img/hi/background.svg) 0 0 / cover no-repeat;
}

.hi__container {
	padding: 270px 0;
}

.hi__item {
	max-width: 850px;
}

.hi__title {
	font-size: 94px;
	line-height: 103px;
	color: #231D70;
	margin-bottom: 38px;
}

.hi__text {
	font-size: 16px;
	line-height: 38px;
	color: #3F3A75;
	margin-bottom: 32px;
}

.hi__buttons {}

.hi__button_violet {
	margin-right: 28px;
	margin-bottom: 30px;
}

@media (max-width: 1100px){
	.hi__container {
		padding: 250px 0 150px;
	}
	.hi__item {
		max-width: 700px;
	}
	
	.hi__title {
		font-size: 60px;
		line-height: 70px;
		color: #231D70;
		margin-bottom: 38px;
	}
}
@media (max-width: 800px){
	.hi__item {
		max-width: none;
	}
	.hi__title {
		font-size: 40px;
		line-height: 50px;
	}
}

.numbers {
	margin-bottom: 280px;
	margin-top: 200px;
}

.numbers__container {
	width: 80%;
	margin: 0 auto;
}

.numbers__items {
	display: grid;
	grid-template: 1fr / 1fr 1fr 1fr 1fr;
}

.number__item {}

.number__number {
	display: flex;
	justify-content: center;
	font-weight: 700;
	font-size: 94px;
	line-height: 103px;
	color: #231D70;
}

.number__number::after {
	content: '+';
	color: #AB9FF8;
	margin-left: 10px;
}

.number__text {
	font-weight: 700;
	font-size: 24px;
	line-height: 26px;
	text-align: center;
	color: #595390;
}

@media (max-width: 1160px){
	.numbers {
		margin-bottom: 150px;
		margin-top: 150px;
	}
	.number__number {
		font-size: 70px;
		line-height: 80px;
	}
}
@media (max-width: 1000px){
	.numbers__items {
		display: grid;
		grid-template: 1fr 1fr / 1fr 1fr;
		gap: 30px;
	}
}
@media (max-width: 600px){
	.numbers__items {
		display: block;
	}
	.number__item {
		margin-bottom: 40px;
	}
}

.services {
	background: url(../img/services/cube-yellow.svg) 1000px 0 no-repeat, url(../img/services/ring-blue.svg) 0 1200px no-repeat;
	padding-bottom: 100px;
}

.services__container {
	width: 80%;
	margin: 0 auto;
}

.services__cards {
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr;
	gap: 30px;
	margin-bottom: 120px;
}

.services__card {
	background: #FFFFFF;
	box-shadow: 0px 9px 31px rgba(23, 22, 93, 0.06);
	border-radius: 48px;
	padding: 50px;
}

.services__card:nth-child(even) {
	position: relative;
	top: 50px;
}

.services-card__item {}

.services-card__img {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}

.services-card__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 54px;
	text-align: center;
	color: #231D70;
	margin-bottom: 14px;
}

.services-card__text {
	font-size: 24px;
	line-height: 38px;
	text-align: center;

	color: #595390;
}

.services__button {
	display: flex;
	justify-content: center;


}

@media (max-width: 1100px){
	.services__card {
		background: #FFFFFF;
		box-shadow: 0px 9px 31px rgba(23, 22, 93, 0.06);
		border-radius: 48px;
		padding: 30px;
	}
	.services-card__title {
		font-size: 30px;
		line-height: 44px;
	}
	
	.services-card__text {
		font-size: 19px;
		line-height: 25px;
	}
}
@media (max-width: 870px){
	.services__cards {
		display: grid;
		grid-template: auto / 1fr;
		gap: 30px;
		margin-bottom: 120px;
	}
	.services__card:nth-child(even) {
		position: static;
		top: 0px;
	}
	.services-card__img img{
		width: 100%;
	}
}

.about {
	background: url(../img/about/crooked-strip.svg) 500px 50px no-repeat, url(../img/about/triagle-yellow.svg) 300px 1250px no-repeat, #FFF9F5;
	padding: 100px 0;
}

.about__container {}

.about__row {
	display: grid;
	grid-template: auto / 1fr 1fr;
	gap: 40px;
}

.about__title {
	margin-bottom: 20px;
}

.about__images {
	display: flex;
}

.about__img img {
	width: 100%;
}

.about__title {
	color: #231D70;
}

.about__text {
	font-size: 24px;
	line-height: 38px;
	color: #595390;
	margin-bottom: 30px;
}

.about__button {}

@media (max-width: 1100px){
	.about__text {
		font-size: 18px;
		line-height: 25px;
	}
	.about__images {
		display: block;
	}
	.about__img:nth-child(1) img{
		height: 400px;
		width: auto;
	}
	.about__img:nth-child(2) {
		display: none;
	}
}

@media (max-width: 660px){
	.about__images {
		display: none;
	}
	.about__row {
		display: block;
	}
}

.portfolio {
	padding: 100px 0;
	background: url(../img/portfolio/cube-yellow.svg) 900px 1800px no-repeat, url(../img/portfolio/semicircle-blue.svg) no-repeat;
}

.portfolio__container {}

.portfolio__cards {
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr;
	gap: 50px;
	margin-bottom: 250px;
}

.portfolio__card {}

.portfolio__card:nth-child(even) {
	position: relative;
	top: 100px;
}

.portfolio-card__item {
	display: block;
}

.portfolio-card__item:hover .portfolio-card__img img {
	transform: translate(-50%, -50%) scale(1.1);
}

.portfolio-card__item:hover .portfolio-card__title,
.portfolio-card__link {
	opacity: 0.7;
}

.portfolio-card__img {
	height: 600px;
	position: relative;
	overflow: hidden;
	width: 100%;
	border-radius: 46px;

	margin-bottom: 30px;
}

.portfolio-card__img img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100%;
	object-fit: cover;
	width: 100%;

	transition: all 0.3s ease 0s;
}

.portfolio-card__title {
	font-weight: 700;
	font-size: 44px;
	line-height: 56px;
	color: #231D70;
	margin-bottom: 15px;

	opacity: 1;
	transition: all 0.3s ease 0s;
}

.portfolio-card__link {
	font-size: 24px;
	line-height: 26px;
	color: #231D70;

	opacity: 1;
}

.portfolio__buttons {
	display: flex;
	justify-content: center;
}

.portfolio__button {
	margin-right: 25px;
}
@media (max-width: 1100px){
	.portfolio__cards {
		margin-bottom: 150px;
	}
	.portfolio-card__title {
		font-size: 30px;
		line-height: 40px;
	}
	
	.portfolio-card__link {
		font-size: 18px;
		line-height: 26px;
	}
}
@media (max-width: 1000px){
	.portfolio-card__img {
		height: 300px;
		position: relative;
		overflow: hidden;
		width: 100%;
		border-radius: 46px;
	
		margin-bottom: 30px;
	}
	
	.portfolio-card__title {
		font-size: 30px;
		line-height: 40px;
	}
	
	.portfolio-card__link {
		font-size: 17px;
		line-height: 26px;
	}
}
@media (max-width: 870px){
	.portfolio__cards {
		display: grid;
		grid-template: auto / 1fr;
		gap: 50px;
		margin-bottom: 100px;
	}
	
	.portfolio__card {}
	
	.portfolio__card:nth-child(even) {
		position: static;
		top: 0;
	}
	.portfolio__buttons {
		display: block;
	}
	.portfolio__button {
		margin-right: 25px;
	}
}
@media (max-width: 500px){
	.portfolio__buttons {
		display: block;
	}
	.portfolio__button{
		margin-bottom: 30px;
	}
}

.project {
	background: url(../img/project/cube-pink.svg) 700px 50px no-repeat, url(../img/project/more-figure.svg) 800px 100px no-repeat, url(../img/project/ring-yellow.svg) 400px 500px no-repeat, #231D70;
	padding: 200px 0;
}

.project__container {}

.project__item {
	max-width: 700px;
}

.project__title {
	color: #fff;
	margin-bottom: 15px;
}

.project__text {
	color: #fff;
	margin-bottom: 40px;
}

.project__button {}

@media (max-width: 1100px){
	.project {
		padding: 100px 0;
	}
}

.process {
	background: url(../img/process/semicircle-yellow.svg) 950px 200px no-repeat, url(../img/process/semiring-blue.svg) 0px 800px no-repeat;
}

.process__container {
	padding: 200px 0;
}

.procces__slider{

}
.swiper{
	margin: 0 auto;
	width: 90%;
	padding: 30px 0;
	margin-bottom: 70px;
}
.process__cards {
}
.swiper-wrapper{
	width: 80%;
	margin: 0 auto;
}
.process__card {
}
.swiper-slide{
}
.process__card__row{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	background: #FFFFFF;
	box-shadow: 0px 2px 12px rgba(20, 20, 43, 0.08);
	border-radius: 48px;
	padding: 60px 55px;
}
.process__img {
	margin-right: 30px;
}

.process__item {}

.process__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 54px;
	color: #231D70;

	margin-bottom: 15px;
}

.process__text {
	font-size: 24px;
	line-height: 38px;
	color: #595390;	
}

.swiper-button-prev,
.swiper-button-next {
	width: 80px;
	height: 80px;
	background: #231D70;
	box-shadow: 0px 2px 12px rgba(20, 20, 43, 0.08);
	border-radius: 20px;

	opacity: 1;
	transition: all 0.3s ease 0s;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
	transform: scale(1.1);
	opacity: 0.8;
}
.swiper-button-prev::after,
.swiper-button-next::after{
	color: #fff;
	font-weight: 700;
	font-size: 30px;
}

.process__button {
	text-align: center;
	margin-bottom: 30px;
}

.process-touch{
	display: none;
}
.swiper-scrollbar{
	background-color: #AB9FF8;
}
.swiper-scrollbar-drag{
	background-color: #231D70;
}

@media (max-width: 1150px){
	.process__container {
		padding: 100px 0;
	}
	.process__card__row{
		border-radius: 30px;
		padding: 45px 30px;
	}
	.process__img {
		margin-right: 30px;
	}
	.process__img img {
		width: 100%;
	}
	
	.process__item {}
	
	.process__title {
		font-weight: 700;
		font-size: 30px;
		line-height: 40px;
		color: #231D70;
	
		margin-bottom: 15px;
	}
	
	.process__text {
		font-size: 18px;
		line-height: 25px;
		color: #595390;	
	}
	
	.swiper-button-prev,
	.swiper-button-next {
		width: 50px;
		height: 50px;
		border-radius: 15px;
	}
	.swiper-button-prev::after,
	.swiper-button-next::after{
		font-size: 20px;
	}
}

@media (max-width: 800px){
	.process__card__row{
		display: block;
		border-radius: 30px;
		padding: 45px 30px;
	}
	.process__img {
		margin-right: 0;
		margin-bottom: 40px;
	}
	.process__img img {
		width: 130px;
	}
	
	.process__item {}
	
	.process__title {
		font-weight: 700;
		font-size: 30px;
		line-height: 40px;
		color: #231D70;
	
		margin-bottom: 15px;
	}
	
	.process__text {
		font-size: 18px;
		line-height: 25px;
		color: #595390;	
	}
	
	.swiper-button-prev,
	.swiper-button-next {
		width: 50px;
		height: 50px;
		border-radius: 15px;
	}
	.swiper-button-prev::after,
	.swiper-button-next::after{
		font-size: 20px;
	}
}
@media (max-width: 768px){
	.process {
		display: none;
	}
	.process__card__row{
		display: block;
		width: 90%;
	}
	.swiper-wrapper{
		width: 90%;
		margin: 0 auto;
	}
	.swiper-button-prev,
	.swiper-button-next {
		display: none;
	}
	.process-touch{
		display: block;
	}
}
.articles {
	background: url(../img/articles/cube-yellow.svg) -100px -50px no-repeat, url(../img/articles/semiball-blue.svg) 900px 900px no-repeat, #FFF9F5;
}

.articles__container {
	padding: 200px 0;
}
.articles__text{
	color: #595390;
	max-width: 580px;
}
.articles__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.articles__container > .caption-left{
	margin-bottom: 40px;
}
.articles__button {}

.articles__cards {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 50px;
}

.articles-card {}

.articles-card__button {
	display: inline-block;
	position: relative;
	top: 90px;
	left: 20px;

	font-size: 18px;
	line-height: 20px;
	color: #231D70;

	background: #FFFFFF;
	border: 1px solid #E0E3EA;
	box-shadow: 0px 2px 12px rgba(20, 20, 43, 0.08);
	border-radius: 14px;

	padding: 18px 29px;

	opacity: 1;
	transition: all 0.2s ease 0s;
}
.articles-card__button:hover{
	transform: scale(1.1);
	opacity: 0.8;
}
.articles-card__img {
	margin-bottom: 35px;
}

.articles-card__img img {
	width: 100%;
	border-radius: 32px;
}

.articles-card__text {}

.articles-card__name {
	display: inline-block;

	font-weight: 700;
	font-size: 30px;
	line-height: 40px;
	color: #231D70;

	margin-bottom: 18px;
}
.articles-card__name:hover{
	text-decoration: underline;
}
.articles-card__data {
	font-size: 20px;
	line-height: 22px;
	color: #595390;
}

@media (max-width: 1100px){
	.articles__container {
		padding: 100px 0;
	}
}
@media (max-width: 870px){
	.articles__row {
		display: block;
	}
	.articles__text{
		margin-bottom: 40px;
	}
	.articles__cards {
		display: block;
	}
	
	.portfolio__card {
		margin-bottom: 50px;
	}
}

.work {
	background-color: #FFF9F5;
	margin-bottom: -160px;
}

.work__container {
	width: 90%;
	margin: 0 auto;
	position: relative;

	background: #FFFFFF;
	box-shadow: 0px 2px 12px rgba(20, 20, 43, 0.08);
	border-radius: 30px;

	padding: 70px 80px;
}

.work__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.work__title {
	font-size: 72px;
	line-height: 84px;
	color: #231D70;
	max-width: 540px;
}
.work__title::before {
	content: '';
	display: block;
	width: 100px;
	height: 6px;
	background: #AB9FF8;
	margin-bottom: 30px;
}

.work__buttons {
	width: 380px;
}

.work__button_1 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 92px;

	background: #231D70;
	border: 1px solid #231D70;
	border-radius: 22px;

	font-size: 20px;
	line-height: 22px;
	color: #FFFFFF;
	margin-bottom: 30px;
	opacity: 1;
	transition: all 0.2s ease 0s;
}

.work__button_2 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 92px;

	background: #FFFFFF;
	border: 1px solid #EDECF8;
	box-shadow: 0px 4px 14px rgba(56, 57, 84, 0.1);
	border-radius: 22px;

	font-size: 20px;
	line-height: 22px;
	color: #231D70;
	opacity: 1;
	transition: all 0.2s ease 0s;
}
.work__button_1:hover,
.work__button_2:hover{
	transform: scale(1.1);
	opacity: 0.8;
}

@media (max-width:1100px){
	.work__title {
		font-size: 50px;
		line-height: 60px;
		color: #231D70;
		max-width: none;
		margin-right: 30px;
	}
	.work__title::before {
		width: 60px;
		height: 3px;
		margin-bottom: 20px;
	}
}
@media (max-width:850px){
	.work__container {
		width: 90%;
		margin: 0 auto;
		position: relative;
	
		background: #FFFFFF;
		box-shadow: 0px 2px 12px rgba(20, 20, 43, 0.08);
		border-radius: 30px;
	
		padding: 40px 40px;
	}
	.work__row {
		display: block;
		align-items: flex-start;
		justify-content:baseline;
	}
	.work__title {
		font-size: 40px;
		line-height: 50px;
		margin-right: 0px;
		margin-bottom: 50px;
	}
	.work__buttons {
		width: 100%;
		display: flex;
	}
	.work__button_1 {
		height: 70px;
		margin-right: 30px;
		font-size: 17px;
		margin-bottom: 0;
	}
	
	.work__button_2 {
		height: 70px;
		font-size: 17px;
	}
}
@media (max-width:850px){
	.work__buttons {
		display: block;
	}
	.work__button_1 {
		width: 100%;
		margin-bottom: 30px;
	}
	
	.work__button_2 {
		width: 100%;
	}
}

.footer {
	background: #231D70;
}

.footer__container {
	padding: 300px 0 0;
}

.footer__row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 140px;
}

.footer__about {
}

.footer-about__logo {
	margin-bottom: 25px;
}
.footer-about__logo img{
	max-width: 350px;
}

.footer-about__text {
	font-size: 18px;
	line-height: 30px;
	color: #FFFFFF;
	margin-bottom: 15px;
}

.footer-about__blocks {
	display: flex;
}

.footer-about__block {
	width: 36px;
	height: 36px;
	background: #FFFFFF;
	border-radius: 11px;
	margin-right: 15px;
}

.footer__catalogs {
	display: grid;
	grid-template: 1fr / 1fr 1fr 1fr;
	gap: 40px;
	align-items: center;
}

.footer__catalog {}

.footer__title {
	font-size: 20px;
	line-height: 22px;
	color: #FFFFFF;

	margin-bottom: 30px;
}

.footer__list {}

.footer__link {
	display: inline-block;
	font-size: 24px;
	line-height: 26px;
	color: #FFFFFF;
	margin-bottom: 20px;
}
.footer__link:hover{
	text-decoration: underline;
}
.footer__copy {
	padding: 40px 0;
	border-top: 1px solid #3F3A75;
	text-align: center;

	font-size: 18px;
	line-height: 30px;
	color: #FFFFFF;
}

@media (max-width: 1250px){
	.footer__about {
		max-width: 300px;
		margin-right: 60px;
	}

	.footer__title {
		font-size: 17px;
		line-height: 22px;
		color: #FFFFFF;
	
		margin-bottom: 30px;
	}
	
	.footer__link {
		display: inline-block;
		font-size: 19px;
		line-height: 26px;
		color: #FFFFFF;
		margin-bottom: 20px;
	}
}
@media (max-width: 900px){
	.footer__about {
		max-width:none;
		margin-right: 0;
		margin-bottom: 70px;
	}
	.footer__row {
		display: block;
	}
}
@media (max-width: 630px){
	.footer__catalogs {
		display: grid;
		grid-template: 1fr 1fr / 1fr 1fr;
		gap: 40px;
		align-items: center;
	}
}
@media (max-width: 400px){
	.footer__container {
		padding: 200px 0 0;
	}
	
	.footer__row {
		margin-bottom: 100px;
	}
	.footer-about__logo img{
		width: 100%;
	}
	.footer__catalogs {
		display: block;
	}
	.footer__catalog{
		margin-bottom: 40px;
	}
	.footer__copy {
		padding: 20px 0;
		font-size: 15px;
		line-height: 23px;
	}
}